.card__flex {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start; 

  scroll-snap-align: center;
}

.card__caption {
  display: inline-block;
  
  font-size: 16pt;
  font-weight: 600;
  text-align: center;
  text-shadow: var(--text-shadow) 0px 0px 2px;

  color: var(--text-color); 
  height: max-content;
  padding: 4px;
}

.card {
  background-color: var(--background);
  box-shadow: 0px 0px 9px 2px black;
  border-radius: 10px;
}

.card__animate {
  animation: 0.2s click alternate;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); 
}

@keyframes click {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }
  
  to {
    transform: scale(1);
  }
}

.card__image {
  box-shadow: 0px 0px 4px 0.5px black; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%; 
}