.dialog-modal {
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;

  background-color: var(--background);
  color: var(--text-color);
  box-shadow: 0px 0px 4px 0.5px var(--card-shadow); 
  border-radius: 10px;

  z-index: 2;
  pointer-events: all;
}

.dialog-modal_flex {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 10px;
}

.dialog-modal__header_flex {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;

  padding-bottom: 10px;
  border-bottom: 2px solid var(--text-color); 
}

.dialog-modal__button {
  appearance: none;
  border: none;
  background-color: var(--background);
  outline: none;
  color: var(--text-color);
  padding: 0px;

  border: 1px;
}

.dialog-modal__button:hover {
  cursor: pointer;
}

.dialog-modal__title {
  font-size: 28pt;
}

.dialog-modal__backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(6px) brightness(30%);
  z-index: 1;
  pointer-events: none;
}