::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: stretch;

  margin: 0 auto;
  padding: 10px;
  gap: 15px;
  grid-column: 1;
}

.gallery__scrollable {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  scrollbar-width: none;
}