.scoreboard__flex {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  row-gap: 5px;

  background-color: var(--background);
  border-radius: 10px;
  box-shadow: 0px 0px 4px 1px black;
}

.scoreboard__flex > span {
  font-size: 1.5rem;
  color: var(--text-color);
  text-shadow: 0px 0px 1px var(--text-shadow);
}

.scoreboard__padded {
  padding: 7px 15px;
}