.scoreboard__flex {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  row-gap: 5px;

  border-radius: 10px;
}

.scoreboard__flex > span {
  font-size: 18pt;
  color: black;
  text-transform: uppercase;
  text-shadow: 0px 0px 1px var(--text-shadow);
}

.scoreboard__padded {
  padding: 7px 15px;
}