#app {
  background: url('./resources/images/background.png') no-repeat center;
  background-size: cover;

  height: 100vh;
}

#app > header {
  height: 140px;
}

#app > main {
  height: calc(100% - 140px);
  display: grid;
  grid-template-columns: 1fr 220px;
  padding: 20px 40px;
  gap: 20px;
}