@import url('https://fonts.googleapis.com/css2?family=EB+Garamond');

body {
  margin: 0;
}

:root {
  box-sizing: border-box;
  --card-shadow: #ea728a;
  --background: #e72249;
  --text-shadow: #f9dee3;
  --text-color: #faece5;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: 'EB Garamond';
  font-size: 12pt;
}
